.fade-in-section {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
    transition: opacity 1s ease-out, transform 1s ease;
    z-index: 20;
  }
  
  .fade-in-section.is-visible {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }

  @media(prefers-reduced-motion){
    .fade-in-section{
      transition: none
    }
  }

  .fade-in-section:nth-child(2) {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(5px);
    transition: opacity 1s ease-out, transform 1s ease;
    z-index: 20;
  }

  .fade-in-section:nth-child(2).is-visible {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  } 
  /* NWM CZEMU ALE nth-child(2) JEST ZEPSUTY JEŚLI ROBISZ REFRESHA ALE TYLKO NA SAMYM DNIE STRONY XD */