@font-face {
  font-family: myFont;
  src: url(./../../../assets/OCR-A-font.ttf);
}
.home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
  padding-top: 30px;
  padding-bottom: 20px;
  min-height: 1200px;
  transition: background-color 0.5s ease;
}
.home-container-orange {
  background-color: rgb(16,12,12);
}
.home-container-green {
  background-color: rgb(255, 255, 255);
}
.panel1-container,.panel3-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  border: solid 1px red;
}
.panel2-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: auto;
  border: solid 1px red;

  margin-bottom: 20px;
}

.home-panel {
  font-family: myFont;
  transition: box-shadow 1s ease;
  background-color: #100c0c;
  color: rgb(255, 255, 255);
  border-radius: 0.4rem;
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.253);

  box-sizing: border-box;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.home-panel-orange{
  box-shadow: 0px 0px 16px 10px rgba(255, 255, 255, 0.253);
}
.home-panel-green{
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.253);
}
/* musi tak być bo inaczej jest rozmazane podczas poruszania się, a tak to jest tylko podczas hover */
.home-panel:hover {
  /* transition: transform 0.1s linear; */
  will-change: transform;
  /* box-shadow: 0 0 15px 5px rgba(0, 255, 119, 0.6); */
}

.home-panel1 {
  width: 40%;
  min-width: 350px;
  height: auto;
  min-height: 350px;
}

.home-panel2 {
  height: auto;
  width: 55%;
  min-width: 350px;
}

.home-panel3 {
  min-height: 300px;
  height: auto;
  width: 35%;
  min-width: 350px;
}
/* trza dodac clamp height żeby było ładnie i mobile support */
p {
  padding: 10px;
  font-family: myFont;
}

@media (max-width: 500px) {
  .home-container {
    align-items: center;
  }
  .panel2-container ,.panel1-container ,.panel3-container{
    justify-content: center;
    align-items: center;
  }
}