@font-face {
  font-family: myFont;
  src: url(./../../../assets/lucon.ttf);
}

path {
  transition: fill 0.5s ease;
}
rect {
  transition: fill 0.5s ease;
}
.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
  width: 100%;
  height: auto;

  padding: 100px;
  padding-top: 230px;
  padding-bottom: 200px;

  transition: background-image 0.5s ease;
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
}
.home-container-orange {
  background-image: url("./backgroundsvgorange.svg");
}
.home-container-green {
  background-image: url("./backgroundsvg.svg");
}

.panel-container1{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}
.panel-container2 {
  justify-content: flex-end;
  align-items: flex-end;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 80px;

}

@media (max-width: 500px), (min-width: 3000px) {
  .home-container {
    align-items: center;
    min-height: 1500px;
    max-height: 2100px;
  }
  .panel-container1, .panel-container2 {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 350px;
  }
}

/* @media (min-width: 3000px) {
  .home-container-orange {
    background: rgb(16, 12, 12);
    background: linear-gradient(
      180deg,
      rgba(16, 12, 12, 1) 0%,
      rgba(248, 92, 44, 1) 51%,
      rgba(16, 12, 12, 1) 100%
    );
  }
  .home-container-green {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(0, 255, 119, 1) 51%,
      rgba(255, 255, 255, 1) 100%
    );
  }
} */
