.window-tab{
    /* border: solid 1px black; */
    height: 45px;
    width: 100%;
    /* padding-top: 8px; */
    background-color: #2E2E2E;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.window-tab-gold{
    background-color: rgb(236, 211, 64);
}
.tab-section-1{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    height: 100% - 10px;
    width: 100%;
}
.tab-section-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    /* border: solid 1px blue; */
}
.text-tab{
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 120px;
    max-width: 200px;
    padding-left: 12.5px;
    margin-left: 8.75px;
    border-top-left-radius: 0.5rem;

    font-size: 18px;
    color: white;
    font-family: 'Segoe UI';

    background-color: 
    rgb(16,12,12);

    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-tab-gold{
    color: gold;
}
.command-icon{
    font-size: 20px;
    margin-right: 6px;
    min-width: 20px;
}
.close-tab{
    display: flex;
    border-top-right-radius: 0.5rem;
    width: 47.5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: 
    #100c0c;
}
.close-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;

    width: 35px;
    height: 25px;

    position: relative;
    border-radius: 0.25rem;  
}
.close-circle:hover{
    background-color: #2E2E2E;
}
.new-tab{
    display: flex;
    font-size: 22.5px;
    color: white;
    text-align: center;
    width: 44px;
    border-right: solid 1px rgb(95, 95, 95);
    border-bottom-left-radius: 0.25rem;
    /* border: solid 1px red; */
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #2E2E2E;
}
.new-tab-fill{
    background-color: #100c0c;
}
.minimalize-tab{
    width: 50px;

    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17.5px;

    transition: background-color 0.15s ease;
}
.full-screen-tab{
    width: 50px;

    font-size: 16px;
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.15s ease;
}
.window-close-tab{
    width: 50px;

    font-size: 35px;
    color: white;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.15s ease;
}
.window-close-tab:hover{
    background-color: red;
    border-top-right-radius: 0.4rem;
}
.full-screen-tab:hover{
    background-color: #4b4646;
}
.minimalize-tab:hover{
    background-color: #4b4646;
}

