.window-panel {
    font-family: myFont;
    transition: box-shadow 1s ease;
    background-color: #100c0c;
    color: rgb(255, 255, 255);
    border-radius: 0.4rem;
    box-shadow: 0px 0px 16px 10px rgba(255, 255, 255, 0.253);
  
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;

    transition: opacity 1s ease-out, transform 1s ease;
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
    
  }

  @media(prefers-reduced-motion){
    .window-panel{
      transition: none
    }
  }

  .window-panel-closed{
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
  }
  .window-panel-closed:nth-child(even) {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(5px);
}


  .window-panel-1 {
    width: 55%;
    min-width: 350px;
    max-width: 1300px;
    /* height: auto; */
    min-height: 580px;
  }
  
  .window-panel-2 {
    /* height: auto; */
    width: 55%;
    min-width: 350px;
    max-width: 1000px;
  }
  
  .window-panel-3 {
    min-height: 300px;
    /* height: auto; */
    width: 35%;
    min-width: 350px;
    max-width: 700px;
  }
  .window-panel-4 {
    /* height: auto; */
    width: 30%;
    min-width: 350px;
    max-width: 1020px;
    margin-bottom: 20px;
  }