.window-panel {
    transition: box-shadow 1s ease;
    background-color: #100c0c;
    color: rgb(255, 255, 255);
    border-radius: 0.4rem;
    box-shadow: 0px 0px 16px 10px rgba(255, 255, 255, 0.253);
  
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;

    transition: opacity 1s ease-out, transform 1s ease;
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
    
  }

  @media(prefers-reduced-motion){
    .window-panel{
      transition: none
    }
  }

  .window-panel-closed{
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(5px);
  }
  .window-panel-closed:nth-child(even) {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(5px);
}


  .window-panel-1 {
    width: 55%;
    min-width: 350px;
    max-width: 1300px;
    min-height: 610px;
  }
  
  .window-panel-2 {
    width: 45%;
    min-width: 350px;
    max-width: 1000px;

    background-color: #2E2E2E;

    /* it for border radius to not be cut by images  */
    overflow: hidden;
  }
  
  .window-panel-3 {
    width: 45%;
    min-width: 350px;
    max-width: 700px;

    overflow: hidden;
  }

  .window-panel-4 {
    width: 35%;
    min-width: 350px;
    max-width: 700px;
  }


  .window-panel-5 {
    width: 30%;
    min-width: 350px;
    max-width: 650px;
    margin: 5.5%;

    box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.6);
  }

  .window-panel-6 {
    /* height: auto; */
    width: 30%;
    min-width: 350px;
    max-width: 650px;
    margin: 5.5%;
    

    box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.6);
  }