@font-face {
  font-family: navbarFont;
  src: url(./../../../assets/Metropolis-Medium.ttf);
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  width: 100%;
  background-color: black;
  z-index: 200;
}
.scroll-watcher{
  z-index: -1;
  position: absolute;
  top: 0;
  height: 76px;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();

  transition: background-color 0.5s ease;
}
.scroll-watcher-green {
  background-color: #00ff77;
}
.scroll-watcher-orange {
  background-color: #f85c2c;
}
.switch{
  height: 66px;
  display: flex;
  padding-top: 18px;
  padding-left: 30px;
  /* ogarnac jak wysrodkowac a nie jakis padding */

  background-color: #ffffff;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
.cybertech-title {
  /* color: white; */
  /* margin-left: 5%; */
  padding-left: 20px;
  /* padding-top: 12px; */
  font-size: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  height: 100%;
  width: 480px;
  min-width: 200px;
  mix-blend-mode: screen;
  /* border: solid red 1px; */
}
nav ul {
  display: flex;
  flex-direction: row;
  /* background-color: #e0e0e0; */
  /* border: 1px solid black; */
}
nav ul li {
  list-style: none;
}
nav ul li a {
  /* argument here is Navlink which can be counted as button */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  width: clamp(120px, 15vw, 240px);
  height: 66px;
  
  
  color: black;
  font-size: 20px;
  background-color: white;
  mix-blend-mode: screen;
  transition: color 0.4s ease;
}

nav .ul-green li a:hover{
  color: rgba(0, 255, 119, 1);
}
nav .ul-orange li a:hover{
  color: #f85c2c;
}
.navbar-title {
  text-decoration: none;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}
.navbar-chosen {
  color: rgb(0, 0, 0);
}
.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger {
  display: none;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar {
  display: none;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.bar:first-child {
  margin-top: 18px;
}
@media only screen and (max-width: 768px) {
  nav ul {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  nav ul .active {
    left: 0;
  }

  nav ul li {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    border: solid red 1px;
  }
  .bar {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
