nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: black;
  z-index: 1;
}
.scroll-watcher {
  z-index: -1;
  position: absolute;
  top: 0;
  height: 70px;
  border-bottom-right-radius: 0.5rem;
  width: 100%;
  background-color: rgba(0, 255, 119, 1);
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}
@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
.cybertech-title {
  /* color: white; */
  /* margin-left: 5%; */
  padding-left: 5%;
  padding-top: 12px;
  font-family: myFont;
  font-size: 25px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  mix-blend-mode: screen;
}
nav ul {
  display: flex;
  flex-direction: row;
  /* background-color: #e0e0e0; */
}
nav ul li {
  list-style: none;
}
nav ul li a {
  /* argument here is Navlink which can be counted as button */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  text-align: center;

  width: 200px;
  height: 60px;
  /* background-clip: text; */
  color: black;
  /* border-right: solid black 1px; */
  font-size: larger;
  background-color: white;
  mix-blend-mode: screen;
  transition: color 0.4s ease;
}
nav ul li a:hover {
  color: rgb(0, 255, 119);
}
.navbar-title {
  text-decoration: none;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}
.navbar-chosen {
  color: rgb(0, 0, 0);
}
.nav-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
