.contact-container{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-box{
    /* border: solid red 4px; */
    width: 85vw;
    min-width: 360px;
    max-width: 1000px;
}
.contact-section{
    margin-bottom: 30px;
}