.contact-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #828282 0%, #ffffff 3%);
}
.contact-container-green{
  background: #100c0c;
  color: white;
}
#contact-box{
    /* border: solid red 4px; */
    width: 90vw;
    min-width: 360px;
    max-width: 1000px;
}
.contact-section{
    margin-bottom: 30px;
}