.footer{
    width: 100%;
    margin-top: -5px;
    transition: background-color 0.5s ease;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 16px;
}

.footer-container-green{
    color: gray;
    background-color: #100c0c;
}

.footer-container-orange{
    color: gray;
    background-color: #f3f3f3;
}

.science-club-div{
    width: 60%;
}
a{
    text-decoration: none;
    color: gray;
}