.footer{
    width: 100%;
    margin-top: -5px;
    /* transition: background-color 0.5s ease; */
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 11px;

    color: gray;
}
.footer-green{
    background-color: #100c0c;
}
.footer-orange{
    background-color: #ffffff;
}


.science-club-div{
    width: 60%;
    font-size: 11px
}
a{
    text-decoration: none;
    color: gray;
}