.footer{
    width: 100%;
    margin-top: -5px;
    transition: background-color 0.5s ease;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 16px;

    color: gray;
    background-color: #ffffff;
}


.science-club-div{
    width: 60%;
}
a{
    text-decoration: none;
    color: gray;
}